.Title{
	text-align: center;
	color: green;
	margin: auto;
}
#HomePageInfo{
	text-align: center;
	color: green;
}
#startButton{
	color: green;
}
#greenButton{
	color: green;
}
#name_form{
	color: green;
}
