<head>
	<link rel="stylesheet" type="text/css" href="stylesheets/base.css">
	<style>
	</style>
</head>
<h1 id = "theHeading"> M▲tchico☃e</h1>
<div id="game">
	<div id="startForm">
		I Want <input type="number" id="numSymbols"> Symbols.
		<button id='startButton'>Play Now</button>
	</div>
</div>
<div id = "gameCounter">
</div>
<a id="reset" href="http://localhost:3000">Play Again?</a>
<table id='myTable'>
	<tr id ='row0'>
		<td id = 'rc_0'></td>
		<td id = 'rc_1'></td>
	</tr>
	<tr id ='row1'>
		<td id = 'rc_2'></td>
		<td id = 'rc_3'></td>
	</tr>
	<tr id = 'row2'>
		<td id = 'rc_4'></td>
		<td id = 'rc_5'></td>
	</tr>
	<tr id = 'row3'>
		<td id = 'rc_6'></td>
		<td id = 'rc_7'></td>
	</tr>
	<tr id = 'row4'>
		<td id = 'rc_8'></td>
		<td id = 'rc_9'></td>
	</tr>
	<tr id = 'row5'>
		<td id = 'rc_10'></td>
		<td id = 'rc_12'></td>
	</tr>
	<tr id = 'row6'>
		<td id = 'rc_13'></td>
		<td id = 'rc_13'></td>
	</tr>
	<tr id = 'row7'>
		<td id = 'rc_14'></td>
		<td id = 'rc_15'></td>
	</tr>
</table>
<script src="javascripts/game.js"></script>