<!doctype html>
<html>
<head>
</head>
<body>
	{{{body}}}
	<header><img src="/img/logo.png" alt="Meadowlark Travel Logo"></header>
	<header><a href="http://localhost:3000/about">About Page</a></header>
	<header><a href="http://localhost:3000/">Home Page</a></header>
</body>
</html>