<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="css/base.css">
  The Busy Birder
</head>
<body>
	<header><a href="http://localhost:3000/">Home Page</a></header>
	<header><a href="http://localhost:3000/birds">Bird Listing</a></header>
	<header><a href="http://localhost:3000/settings">Settings Page</a></header>
	{{{body}}}
</body>
</html>