<h1>{{title}}</h1>
<li><a href="http://localhost:3000/">Logout</a></li>
<p>Welcome to {{title}}</p>
<head>
<a href="http://localhost:3000/list/create">Create a list</a>
</head>
<body>
{{#each lists}}
<li><a href="http://localhost:3000/list/{{this.slug}}">{{this.name}}</a></li>
{{/each}}
</body>