<h3>This is the session settings page</h3>

<strong>Current value of "settings_session":</strong>
<form method="POST" action="/settings">
Enter value: <input type="text" name="settings_session" value = {{settings_session}}>
<input type="submit">
</form>