<head>
	<link rel="stylesheet" type="text/css" href="stylesheets/base.css">
</head>
<h1 class = "Title">Test your memory</h1>
<h4 id = "HomePageInfo">
	<form id = "name_field" method="POST" action="">
		Enter your name:<input type="text" id = "name_form" name="name">
	<input id="greenButton" type="submit">
</h4>
