<head>
	<link rel="stylesheet" type="text/css" href="stylesheets/base.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/level3.css">
</head>
<h1 class = "Title">Level-3</h1>

<div id = "level3_part1">
		<ul id = "level3_animal_list">
			<li>Cat</li>
			<li>Dog</li>
			<li>Horse</li>
			<li>Dog</li>
			<li>Cat</li>
		</ul>
	<form id = "animal_answers" method="POST" action="">
		First Animal <input type="text" id="first_animal" name="animal1">
		Second Animal <input type="text" id="second_animal" name="animal2">
		Third Animal <input type="text" id="third_animal" name="animal3">
		Fourth Animal <input type="text" id="fourth_animal" name="animal4">
		Fifth Animal <input type="text" id="fifth_animal" name="animal5">
		<input id="greenButton" type="submit">
	</form>
</div>

<script src="javascripts/level3.js"></script>