<head>
	<link rel="stylesheet" type="text/css" href="stylesheets/base.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/level4.css">
</head>
<h1 class = "Title">Level-4</h1>

<div id = "level4_part1">
		<ul id = "level4_list">
			<li>Cat----1----House</li>
			<li>Apartment----Dog----4</li>
			<li>Building----Horse----2</li>
			<li>Mongoose----Shack----7</li>
			<li>Mansion----Shark----9</li>
		</ul>
	<form id = "level4_answers" method="POST" action="">
		First Structure <input type="text" id="first_structure" name="structure1">
		Second Structure <input type="text" id="second_structure" name="structure2">
		Third Structure <input type="text" id="third_structure" name="structure3">
		Fourth Structure <input type="text" id="fourth_structure" name="structure4">
		Fifth Structure <input type="text" id="fifth_structure" name="structure5">
		<input id="greenButton" type="submit">
	</form>
</div>

<script src="javascripts/level4.js"></script>