<head>
	<link rel="stylesheet" type="text/css" href="stylesheets/base.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/level5.css">
</head>
<h1 class = "Title">Level-5</h1>

<div id = "level5_part1">
		<ul id = "level5_list">
			<li>1232545123</li>
		</ul>
		<form id = "level5_answers" method="POST" action="">
		Answer <input type="text" id="number_answer" name="number">
		<input id="greenButton" type="submit">
		</form>
</div>

<script src="javascripts/level5.js"></script>