<head>
	<link rel="stylesheet" type="text/css" href="stylesheets/base.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/level1.css">
</head>
<h1 class = "Title">Level-1</h1>

<div id = "level1_part1">
	<p id = "info_level1_part1">
		Remember the order of the animals.
	</p>
	<p id = "level1_animals">
		Cat 	Dog 	Horse
	</p>
	<form id = "animal_answers" method="POST" action="">
		First Animal <input type="text" id = "first_animal" name="animal1">
		Second Animal <input type="text" id = "second_animal" name="animal2">
		Third Animal <input type="text" id = "third_animal" name="animal3">
		<input id="greenButton" type="submit">
	</form>
</div>

<script src="javascripts/game.js"></script>