<head>
	<link rel="stylesheet" type="text/css" href="stylesheets/base.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/level2.css">
</head>
<h1 class = "Title">Level-2</h1>

<div id = "level2_part1">
	<p id = "level2_colors">
		<ul id = "level2_colors_list">
			<li>Red</li>
			<li>White</li>
			<li>Blue</li>
			<li>Red</li>
			<li>Blue</li>
		</ul>
	</p>
	<form id = "color_answers" method="POST" action="">
		First Color <input type="text" id="first_color" name="color1">
		Second Color <input type="text" id="second_color" name="color2">
		Third Color <input type="text" id="third_color" name="color3">
		Fourth Color <input type="text" id="fourth_color" name="color4">
		Fifth Color <input type="text" id="fifth_color" name="color5">
		<input id="greenButton" type="submit">
	</form>
</div>

<script src="javascripts/level2.js"></script>