<head>
	<link rel="stylesheet" type="text/css" href="stylesheets/base.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/results.css">
</head>
<h1 class = "Title">Results</h1>
<br>
<body id = "score">
{{score}}
</body>
<script src="javascripts/level5.js"></script>